<h1>Upcoming Games for <%= @user.team_name %></h1>
<h3>Confirmed Home Games:</h3>
<% @user.hosted_games.each do |game| %>
<% if game.traveler%>
<span class="single-game">
  <p>Date: <%=game.date %> <%=game.time %> <br>
    Location: <%=game.field_address %> <br>
    Opponent: <%= game.traveler.team_name %></p>
  </span>
  <% end %>
  <% end %>
</ul>

<h3>Away Games:</h3>
<% @user.away_games.each do |game| %>
<span class="single-game">
  <p>Date: <%=game.date %> <%=game.time %> <br>
    Location: <a href="https://maps.googleapis.com/maps/api/staticmap?center=<%=game.field_address %>&zoom=17&size=1200x800&maptype=roadmap&key=<%=ENV['GOOGLE_MAPS_KEY']%>" target="_app"><%=game.field_address %></a>  <br>
    Opponent: <%= game.host.team_name %> </p>
  </span>
  <% end %>


  <h3>Pending Home Games:</h3>
  <% @user.hosted_games.each do |game| %>
  <% if !game.traveler%>
  <span class="single-game">
    <p>Date: <%=game.date %> <%=game.time %> <br>
      Location: <%=game.field_address %> <br>
      Opponent: </p>
      <%= erb :'games/_delete_button', locals: {game: game} %>
      <% end %>
    </span>
    <% end %>




