<li>
<p>Game on <%=game.date %> <%=game.time %> <br>
	Location: <%=game.field_address %> <br>
	Host: <%=game.host.team_name %> <br>
	Opponent:
	 </p>
</li>
  <% if logged_in? && current_user.id == game.host_id && game.traveler_id == nil %>
    <form action="/games/<%= game.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Game">
    </form>

  <%end%>
