<span class="single-game">
  <p>Date: <%=game.format_date %><br>
    Location: <a href="https://maps.googleapis.com/maps/api/staticmap?center=<%=game.field_address %>&zoom=17&size=1200x800&maptype=roadmap&key=<%=ENV['GOOGLE_MAPS_KEY']%>" target="_blank"><%=game.field_address %></a> <br>
    Host: <%=game.host.team_name %> <br>
    Opponent: <% if game.traveler %>
    <%= game.traveler.team_name %> <%end%> </p>

    <%= erb :'games/_delete_button', locals: {game: game} %>
  </span>
