<h1>Available Games:</h1>
<div class="container">
<% if @games %>
<ul>
  <% @games.each do |game| %>

    <li>
      <p>Game on <%=game.date %> <%=game.time %> <br>
      Location: <%=game.field_address %> <br>
      Host: <%=game.host.team_name %> <br>
      Opponent: <% if game.traveler %>
          <%= game.traveler.team_name %> <%end%> </p>
    </li>

  <% if logged_in? && current_user.id != game.host_id%>
  <form action="/games/<%=game.id%>" method="POST">
    <input type="submit" value="I'll play you">
  </form>
  <%end%>
  <% if logged_in? && current_user.id == game.host_id && game.traveler_id == nil %>
    <form action="/games/<%= game.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Game">
    </form>

  <%end%>
  <% end %>
<% end %>
</ul>
  <a id="get-host-form" href="/games/new">Host A Game</a>
</div>
