<h1>Game Details</h1>
<p>
Game hosted by: <%=@game.host.team_name%><br>
Location: <%=@game.field_address %><br>
Time: <%= @game.time %> <%=@game.date %><br>
<% if @game.traveler %>
  Opponent: <%= @game.traveler.team_name%>
<% end %>
</p>
